<h2>All games in DB</h2>
<table>
  <tr>
    <th>eid</th>
    <th>season</th>
    <th>type</th>
    <th>week</th>
    <th>away</th>
    <th>home</th>
  </tr>

  <% Nflgame.order("eid ASC").all.each do |game| %>
  <tr>
    <td><%= link_to game.eid, nflgame_path(game) %></td>
    <% week = Nflweek.find(game.nflweek_id) %>
    <% h = Nflteam.find(game.h) %>
    <% v = Nflteam.find(game.v) %>
    <td><%= week.y %></td>
    <td><%= game.gt %></td>
    <td><%= week.w %></td>
    <% vteam = Nflteam.find_by(abbr: v.abbr) %>
    <td><%= link_to v.abbr, nflteam_path(vteam) %></td>
    <% hteam = Nflteam.find_by(abbr: h.abbr) %>
    <td><%= link_to h.abbr, nflteam_path(hteam) %></td>
  </tr>
  <% end %>
</table>
