<h2>All games in DB</h2>
<table>
  <tr>
    <th>eid</th>
    <th>season</th>
    <th>week</th>
    <th>away</th>
    <th>home</th>
  </tr>

  <% Nflgame.all.each do |game| %>
  <tr>
    <td><%= link_to game.eid, nflgame_path(game) %></td>
    <% week = Nflweek.find(game.nflweek_id) %>
    <td><%= week.y %></td>
    <td><%= week.w %></td>
    <td><%= game.vnn %></td>
    <td><%= game.hnn %></td>
  </tr>
  <% end %>
</table>
