<% away = @game['away'] %>
<% home = @game['home'] %>

<p>
Box Score
<table>
  <tr>
    <th>Teams</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
    <th>OT</th>
    <th>F</th>
  </tr>
  <tr>
    <td><%= away['abbr'] %></td>
    <td><%= away['score']['1'] %></td>
    <td><%= away['score']['2'] %></td>
    <td><%= away['score']['3'] %></td>
    <td><%= away['score']['4'] %></td>
    <td><%= away['score']['5'] %></td>
    <td><%= away['score']['T'] %></td>
  </tr>
  <tr>
    <td><%= home['abbr'] %></td>
    <td><%= home['score']['1'] %></td>
    <td><%= home['score']['2'] %></td>
    <td><%= home['score']['3'] %></td>
    <td><%= home['score']['4'] %></td>
    <td><%= home['score']['5'] %></td>
    <td><%= home['score']['T'] %></td>
  </tr>
</table>
</p>

<p>
Passing
<% hpassing = home['stats']['passing'] %>
<% apassing = away['stats']['passing'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>att</th>
    <th>cmp</th>
    <th>yds</th>
    <th>tds</th>
    <th>ints</th>
    <th>twopta</th>
    <th>twoptm</th>
  </tr>
  <% hpassing.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% apassing.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Rushing
<% hrushing = home['stats']['rushing'] %>
<% arushing = away['stats']['rushing'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>att</th>
    <th>yds</th>
    <th>tds</th>
    <th>lng</th>
    <th>lngtd</th>
    <th>twopta</th>
    <th>twoptm</th>
  </tr>
  <% hrushing.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% arushing.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Receiving<br />
<% hreceiving = home['stats']['receiving'] %>
<% areceiving = away['stats']['receiving'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>rec</th>
    <th>yds</th>
    <th>tds</th>
    <th>lng</th>
    <th>lngtd</th>
    <th>twopta</th>
    <th>twoptm</th>
  </tr>
  <% hreceiving.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% areceiving.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Fumbles<br />
<% hfumbles = home['stats']['fumbles'] %>
<% afumbles = away['stats']['fumbles'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>tot</th>
    <th>rcv</th>
    <th>trcv</th>
    <th>yds</th>
    <th>lost</th>
  </tr>
  <% hfumbles.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% afumbles.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Kicking<br />
<% hkicking = home['stats']['kicking'] %>
<% akicking = away['stats']['kicking'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>fgm</th>
    <th>fga</th>
    <th>fgyds</th>
    <th>totpfg</th>
    <th>xpmade</th>
    <th>xpmissed</th>
    <th>xpa</th>
    <th>xpb</th>
    <th>xptot</th>
  </tr>
  <% hkicking.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% akicking.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Punting<br />
<% hpunting = home['stats']['punting'] %>
<% apunting = away['stats']['punting'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>pts</th>
    <th>yds</th>
    <th>avg</th>
    <th>i20</th>
    <th>lng</th>
  </tr>
  <% hpunting.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% apunting.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Kick Returning<br />
<% hkickret = home['stats']['kickret'] %>
<% akickret = away['stats']['kickret'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>ret</th>
    <th>avg</th>
    <th>tds</th>
    <th>lng</th>
    <th>lngtd</th>
  </tr>
  <% hkickret.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% akickret.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Punt Returning<br />
<% hpuntret = home['stats']['puntret'] %>
<% apuntret = away['stats']['puntret'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>ret</th>
    <th>avg</th>
    <th>tds</th>
    <th>lng</th>
    <th>lngtd</th>
  </tr>
  <% hpuntret.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% apuntret.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Defense<br />
<% hdefense = home['stats']['defense'] %>
<% adefense = away['stats']['defense'] %>
<table>
  <tr>
    <th>team</th>
    <th>name</th>
    <th>tkl</th>
    <th>ast</th>
    <th>sk</th>
    <th>int</th>
    <th>ffum</th>
  </tr>
  <% hdefense.each do |player| %>
    <tr>
      <td><%= home['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
  <% adefense.each do |player| %>
    <tr>
      <td><%= away['abbr'] %></td>
      <% pl = player[1] %>
      <% pl.each do |ps| %>
        <td><%= ps[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
Team Stats
<% hteamstats = home['stats']['team'] %>
<% ateamstats = away['stats']['team'] %>
<table>
  <tr>
    <th>team</th>
    <th>totfd</th>
    <th>totyds</th>
    <th>pyds</th>
    <th>ryds</th>
    <th>pen</th>
    <th>penyds</th>
    <th>trnovr</th>
    <th>pt</th>
    <th>ptyds</th>
    <th>ptavg</th>
    <th>top</th>
  </tr>
  <tr>
    <td><%= home['abbr'] %></td>
    <% hteamstats.each do |h| %>
      <td><%= h[1] %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= home['abbr'] %></td>
    <% ateamstats.each do |a| %>
      <td><%= a[1] %></td>
    <% end %>
  </tr>
</table>
