<h1>Weekly Schedule</h1>
<h3>Season 2017</h3>
<h3>Week 17</h3>
<p>
  <table>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Day</th>
      <th>Date</th>
      <th>Time</th>
      <th>Quarter</th>
      <th>Home Score</th>
      <th>Visitor Score</th>
      <th>Winner</th>
    </tr>
    <% Nflgame.all.each do |g| %>
    <% year = g.eid.from(0).to(3) %>
    <% month = g.eid.from(4).to(1) %>
    <% day = g.eid.from(6).to(1) %>
    <tr>
      <td><%= g.h %></td>
      <td><%= g.v %></td>
      <td><%= g.d %></td>
      <td><%= month + "/" + day + "/" + year %></td>
      <td><%= g.t %></td>
      <td><%= g.q %></td>
      <td><%= g.hs %></td>
      <td><%= g.vs %></td>
      <% if g.hs.to_i > g.vs.to_i %>
      <td><%= g.h %></td>
      <% elsif g.hs.to_i < g.vs.to_i %>
      <td><%= g.v %></td>
      <% else %>
      <td>TIE</td>
      <% end %>
    </tr>
    <% end %>
  </table>
</p>
